---
interface Props {
  href?: string;
  variante?: "primario" | "secundario" | "outline" | "fantasma";
  tamano?: "peque" | "medio" | "grande";
  clase?: string;
  tipo?: "button" | "submit" | "reset";
}

const {
  href,
  variante = "primario",
  tamano = "medio",
  clase = "",
  tipo = "button",
} = Astro.props;

// Diccionario de estilos según la variante (Sincronizado con global.css)
const variantes = {
  primario: "boton-primario",
  secundario: "boton-secundario",
  outline: "boton-outline",
  fantasma: "boton-fantasma",
};

const tamanos = {
  peque: "boton-peque",
  medio: "boton-medio",
  grande: "boton-grande",
};

const estilos = `boton ${variantes[variante]} ${tamanos[tamano]} ${clase}`;
---

{
  href ? (
    <a href={href} class={estilos}>
      <slot />
    </a>
  ) : (
    <button type={tipo} class={estilos}>
      <slot />
    </button>
  )
}
